* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  /* background: #f3f3f3; */ }

a {
  color: #1E8449; }

.social-header {
  background: #222;
  color: #fff;
  border-bottom: 5px solid #1E8449;
  margin-bottom: 2rem; }
  .social-header ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0; }
    .social-header ul li {
      margin: 15px 0 0 0;
      padding: .5rem .75rem;
      list-style-type: none; }
      .social-header ul li a {
        -webkit-box-shadow: none;
                box-shadow: none; }

@media only screen and (min-width: 500px) {
  .bio-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; } }

.main-headline::after {
  content: '';
  width: 55%;
  background: #1E8449;
  height: 7px;
  position: absolute;
  bottom: -5px;
  left: 0; }

.row-full {
  width: 100vw;
  position: relative;
  margin-left: -50vw;
  left: 50%; }

.col-full {
  padding: 0 1.4rem;
  max-width: 55rem;
  margin: 0 auto; }

.section-header {
  position: relative;
  display: inline-block;
  margin-bottom: 3rem; }

.section-header::before {
  background: #1E8449;
  content: '';
  display: inline-block;
  margin-right: 10px;
  width: 10px;
  height: 22px; }

.tools {
  display: block;
  margin-left: 0; }

.tools li {
  margin-bottom: 1rem;
  list-style-type: none; }

.tools li, .tools div {
  display: block;
  text-align: center; }

.rank-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  bottom: -11px; }

.rank-label span {
  font-weight: bold;
  font-size: 1.4rem; }

.rank-ctr {
  overflow: hidden;
  border-radius: 15px;
  height: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: rgba(0, 0, 0, 0.2); }

@media only screen and (min-width: 650px) {
  .tools {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .tools div {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 45%;
            flex: 0 0 45%; } }

@media (min-width: 700px) {
  .project-cards-ctr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; } }

.project-card {
  background-size: cover;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 15px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 6px 8px 20px;
          box-shadow: rgba(0, 0, 0, 0.25) 6px 8px 20px;
  min-height: 250px;
  margin-bottom: 35px;
  -webkit-transition: all .3s;
  transition: all .3s; }
  .project-card:hover {
    -webkit-transform: scale(1.025);
            transform: scale(1.025); }
    .project-card:hover .project-title {
      text-decoration: underline; }
    .project-card:hover .view-project {
      background: #145630; }
  @media (min-width: 700px) {
    .project-card {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 48%;
              flex: 0 0 48%; } }

.project-title a {
  -webkit-box-shadow: none;
          box-shadow: none; }

.project-tools span {
  background: #e0e0e0;
  border-radius: 7px;
  font-size: .85rem;
  color: #555;
  margin: 5px 8px 0 0;
  display: inline-block;
  padding: 0px 7px; }

.project-card__laytout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 100%;
  width: 100%; }

.project-card__laytout__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 80%;
          flex: 0 0 80%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.project-card__laytout__right {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .project-card__laytout__right .view-project {
    color: #fff;
    background: #1E8449;
    border-radius: 7px;
    -webkit-box-shadow: none;
            box-shadow: none;
    padding: 3px 5px;
    text-decoration: none;
    text-transform: uppercase; }
    .project-card__laytout__right .view-project:hover {
      background: #092916; }

.project-card__laytout__left p, .project-card__laytout__left h4, .project-card__laytout__right p {
  margin: 0; }

footer {
  border-top: 2px solid #222;
  margin-top: 3rem; }
  footer .socials {
    list-style-type: none; }

/* // */
